.login__wrapper {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__wrapper form {
    width: 30%;
    padding: 25px 15px;
    border-radius: 5px;
}