.locate {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  background: none;
  border: none;
  z-index: 10;
  animation: ripple 2s infinite;
}

.locate img {
  width: 70px;
  cursor: pointer;
}

@keyframes ripple {
  0% {
    transform: rotate(0deg);;
  }
  100% {
    transform: rotate(360deg);;
  }
}
