.admin_container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 0 10px;
  height: inherit;
  overflow-y: auto;
}

.sidebar {
  padding: 10px;
  width: 15vw;
  background: #f0f0f0;
}

.show__btn {
  display: none;
  position: absolute;
  right: 0;
  width: 40px;
  margin-right: -40px;
  bottom: 50px;
  /* border-left: none; */
  background: grey;
  border-radius: inherit;
}

ul li {
  display: flex;
  margin: 0 -10px;
}

ul li a {
  width: 100%;
  padding: 0 10px;
}

ul li a.selected {
  background-color: rgb(233, 73, 73);
  color: #ffffff;
}

@media (max-width: 575.98px) {
  .content {
    padding: 0;
  }

  .sidebar {
    transform: translateX(-50vw);
    height: 100vh;
    width: 50vw;
    position: absolute;
    z-index: 5;
    /* background: red; */
    transition: all 1s ease-in-out;
  }

  .show__btn {
    display: block;
    padding: 0;
  }

  .sidebar.active {
    transform: translateX(0);
  }
}
