.image-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    margin-top: 10px;
}

.image-listing img{
    height: 200px;
}

@media (max-width: 575.98px) {
    .image-listing {
        padding: 10px;
    }
}