.card-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0;
}

.image--container {
    text-align: center;
}

.image--container img {
    max-height: 80px;
    opacity: 0.5;
}

.image--container img:hover {
    opacity: 1;
}

.card {
    border: none !important;
}

.card-body {
    padding: 1.25rem 0.5rem !important;
}

.card-body > .details {
    padding: 0.2rem !important;
}

p {
    margin-bottom: 0.2rem !important;
}